f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;
segundo_color = #F7727A
rojo = #C41C1A
verde= #729331
aside.lateral_menu
	width 280px
	margin 0px 10px
	.bloque
		border 1px solid #f4f4f4
		border-left none
		border-right none
		h3
			margin 10px 0
			font-family f_imprenta
			font-weight 400
			text-transform uppercase
			text-decoration underline			
		ul
			margin 5px 0
			list-style none
			padding 0
			li
				width 130px
				display inline-block
				a
					font-family f_imprenta
					display inline-block
					width 100%
body
	font-size 16px
	font-family: 'Open Sans', sans-serif;
	a
		color #111
		text-decoration none
		&:hover
			text-decoration underline
	.contenedor
		max-width 1200px
		margin 0 auto
	.col2
		width 49%
		margin 0 10px
	.col3
		width 32%
		margin 0 10px
	.col4
		width 24%
		margin 0 10px
	img
		width 100%
	.subtitulo
		font-family: 'Playfair Display', serif;
		text-transform uppercase
		text-align center
		font-weight normal
	.fondo_negro
		background #333
		color #fff
		a
			color #fff
	.enlinea
		display inline-block
	p
		color #999
		font-size 0.8em
	.fuente_imprenta
		font-family f_imprenta
		letter-spacing 1px
	.page_loading
		background url('https://s3-us-west-2.amazonaws.com/lovizfront/img/ajax-loader.gif');
		background-repeat no-repeat
		background-position center
	.left
		float left
	.menu
		padding 0
		margin 0
		li
			list-style none
			display inline-block
	.text_centro
		text-align center
	.right
		float right
	.text_fallo
		color rojo
	input.fallo
		border 1px solid rojo
	input.bueno
		border 1px solid verde
		color verde!important
	.text_good
		color verde
	select
		text-transform capitalize
		margin 0 0 15px 0
		border 1px solid #ccc
		border-radius 5px
		background #fff
		padding 5px 8px
		outline none
		&:focus
			box-shadow 0px 0px 10px #87e0fd
	.overflow
		overflow hidden
	.visible
		display block!important
#banner_top_envio
	padding 5px 0
#banner_header
	background url("http://demandware.edgesuite.net/aaff_prd/on/demandware.static/Sites-UGG-US-Site/Sites/default/v1415906840543/ugg/home/F14-NOV-home-oprah-bg.jpg") no-repeat fixed;
	min-height 390px
	width 100%
	background-position center top
	position relative
	background-size cover
	background-attachment fixed
	position relative
	&.no_home
		min-height 170px
	.capa_parallax
		position absolute
		width 100%
		top 100%
		text-align center
		h3
			font-family f_cusrsiva
			font-size 25px
#barra_top
	text-transform uppercase
	background #fff
	border-bottom 1px solid #f4f4f4
	font-size 0.9em
	li
		padding 7px 10px
		border-right 1px solid #f4f4f4
#carro
	overflow hidden
	margin-bottom 40px
	h1
		font-family f_imprenta
		font-weight normal
		text-align center
		font-size 45px
		margin 0
	h3
		font-family Georgia
		font-style italic
		span
			color segundo_color
	.botones
		span
			font-size 0.8em
			a
				color segundo_color
	table
		width 100%
		font-family f_imprenta		
		thead
			border-bottom 3px solid #333
		.lineas
			text-align center
			.img
				width 100px
			.name
				text-align left
			td
				padding 20px 0
		tr
			border-bottom 1px solid #333
	
#contenido
	position relative
#catalogo
	padding 20px 0
	.productos
		.producto
			border 1px solid #fff
			margin 0 0 30px 0
			&:hover
				border 1px solid #f4f4f4
				.icono
					display block
			.icono
				display none
				top 10px
				font-size 20px
				right 10px
				position absolute
footer
	color #fff
	background #111
	font-family f_imprenta
	padding 30px 0 0 0
	a
		color #fff
	#bloques_footer
		overflow hidden
		margin 0 0 10px
		>div
			width 200px
			float left
			margin-right 50px
			h3
				border-bottom 1px solid #333
				margin 0 0 5px
				padding 0 0 10px
			ul
				margin 0
				padding 0
				li
					list-style none
					margin 5px 0
	.redes_sociales
		padding 10px 0
		text-align center
		a
			margin 0 10px
			font-size 25px
#footer_bottom
	border-top 1px solid #333
	padding 10px 0
#linea_addcart
	position fixed
	z-index 2
	right 20px
	padding 5px 40px
	text-align center
	background #fff
	box-shadow 0px 10px 15px rgba(0,0,0,0.5)
	display none
	img
		width 100px
	h4
		font-family f_imprenta
		font-size 18px
		text-transform uppercase
		margin 0
		font-weight normal
	p
		margin 0
#menu_principal
	border-bottom 1px solid #F4F4F4
	height 74px
	background #fff
	position relative
	&.fijo
		position fixed
		width 100%
		z-index 1
		top 0
		box-shadow 0px 0px 8px 0px rgba(0,0,0,0.4)
	.carrito-icon
		a
			padding 30px 20px 26px
			display inline-block
	.logo
		padding 8px 3px
		margin-right 20px
		.img_logo
			width 50px
			overflow hidden
			img
				width 120px
		h1
			margin 0
			font-family f_cusrsiva
			font-size 2.2em
			font-weight normal
			padding 11px 5px 0px
	ul
		text-transform uppercase
		margin-left 20px
		li
			a
				padding 30px 20px 26px
				display inline-block
#medios_estamos
	overflow hidden
	h2
		font-size 2em
	.hastag
		font-family f_imprenta
		color #fff
		background #111
		display block
		margin 0 auto
		width 100px
		text-align center
		padding 5px 0
	.bloque
		width 300px
		float left
		h4
			font-family f_imprenta
			text-transform uppercase
			margin 5px 0
		p
			margin 0 10px 0 0
#mini_carrito
	.number
		background #111
		color #fff
		padding 1px 6px
		border-radius 12px
		margin-left 2px
#mini_user
	.login_face
		margin 0 10px
		span
			background #3A5795
			color #E7EBF2
			padding 2px 6px	
.page
	min-height 500px
	h1.titulo
		text-align center
		font-family f_imprenta
.producto
	width 294px
	text-transform uppercase
	text-align center
	display inline-block
	position relative
	&:hover
		.estrellas
			opacity 1			
	figure
		padding 15px
	.nombre_producto
		font-size 1.1em
		font-family f_imprenta
		.nombre
			font-weight bold
	.precios
		.old_precio
			font-size 0.7em
			text-decoration line-through
		.precio
			font-weight bold
			&.en_oferta
				color #F7727A
	.estrellas
		opacity 0
#producto_single
	overflow hidden
	margin 0
	.conte_galerias
		width 60%
		float left
		overflow hidden
		.imagenes_grandes
			width 620px
			float right
			margin-right 20px			
		.thum_gale
			width 70px
			float left
	.conte_datos
		width 38%
		float left
	.color_selection
		border-top 1px solid #f4f4f4
		padding 10px 0
		.color
			font-style italic
		.colores
			a
				display inline-block
				width 90px
	.descripcion
		border-top 1px solid #f4f4f4
		padding 10px 0
		p
			margin 0
			font-size 13px
			font-style italic
	.formulario_producto
		padding 10px
		background #f1f1f1
		text-align center
		>div
			margin 10px
		input,select,button
			width 200px
			font-size 14px
			font-family f_imprenta
			letter-spacing 1px
		.no_seleccionado
			box-shadow 0px 0px 8px red
		.addcart
			background #729331
			color #fff
			font-size 18px
			border-radius 8px
			padding 10px 0
			font-weight bold
			border-bottom 3px solid #557423
			border-top 1px solid #557423
			border-right 1px solid #557423
			border-left 1px solid #557423
			outline none
	h1
		font-size 26px
		font-family f_imprenta
		text-transform uppercase
		font-weight normal
		margin 5px 0
		.marca
			font-weight normal
	.genero
		text-transform uppercase
		font-size 14px
		font-weight bold
		font-family f_imprenta
	label
		font-weight normal
		text-transform uppercase
		font-size 16px
		font-family f_imprenta
	.precios_single
		font-size 30px
		.variacion
			display none
		.old_precio
			font-size 13px
			text-decoration line-through
		>div
			font-weight bold
			display inline-block
	.reviews
		padding 10px 0
		border-top 1px solid #f4f4f4
		>div
			display inline-block
		.estrellas
			margin-right 10px
	.detalles_producto
		width 75%
		float left
		font-size 12px
		.product-description
			margin 0 20px
		h2
			font-size 20px
			text-transform uppercase
			font-family f_imprenta			
	.productos_relacionas
		width 20%
		float left
		padding 20px 
		text-align center
		border-left 1px solid #f4f4f4
		a
			color #333
		h3
			font italic 14px Georgia, "Times New Roman", serif
			color #777
		.producto
			width 100%
			.icono
				display none
.slider
	overflow hidden
	margin-bottom 40px
	.titulo_slider
		width 300px
		text-align center
		>div
			padding 30px
			position relative
			.esquina
				width 10px
				height 10px
				border 1px solid #111
				position absolute
				&.esq_top
					top 0
					border-bottom none
				&.esq_botton
					bottom 0
					border-top none
				&.esq_l
					left 0
					border-right none
				&.esq_r
					right 0
					border-left none
		h2
			font-weight normal
			font-size 20px
			border-bottom 1px solid #ccc
			padding 0 0 10px
			margin 0
			display inline-block
		p
			text-align left
			font-size 0.8em
	.cuerpo_slider
		width 900px
#suscripcion
	background url("https://s3-us-west-2.amazonaws.com/lovizfront/img/bg_suscriptio.jpg") no-repeat fixed;
	background-position center center
	min-height 330px
	position relative
	text-align center
	background-size cover
	background-attachment fixed
	padding 20px
	&.no_home
		background #fafafa
		min-height 160px
		.capa_parallax
			border none
			.formu_suscription
				margin 20px 0
				h4
					font-size 1.2em
	.capa_parallax
		border 2px solid #fff
		.formu_suscription
			margin 100px 0
			font-size 30px
			h4
				color #000
				font-size 2em
				font-weight normal
				font-family f_cusrsiva
				margin 0
			input
				border none
				padding 10px
				font italic 14px Georgia, "Times New Roman", serif
				width 400px
				font-style italic
				outline none
				float left
			.input_invisible
				width 500px
				margin 0 auto
				background #fff
				overflow hidden
				border 2px solid #111
			.icono
				float right
				line-height 1px
				background #111
				color #fff
				padding 3px 10px
#testimonios
	overflow hidden
	background #f9f9f9
	padding 3em 0
	margin 3em 0 0 0
	h2
		text-transform initial
		font-family f_cusrsiva
		margin 10px 0
		font-size 3em
	p
		width 700px
		margin 20px auto
	.comentario
		width 580px
		float left
		margin 10px
		.imageuser
			width 100px
			display inline-block
			line-height 0px
			border-radius 50px
			img
				border-radius 50px
		.cuerpo_coment
			width 470px
			display inline-block
			margin-right 5px
			h2
				font-family f_imprenta
				font-weight normal
				font-size 1em
				text-transform uppercase
				margin 2px			
			p
				width 100%
				margin 5px 5px 5px 0
			.username
				font-size 0.9em
			.estrellas
				color #FACC2E
#pagar
#ingresar
	display none 
#usuario
	#formu_crear_cuenta
		display none